

/* offerssecondtry */
.offerssecond {
    min-height: 100vh;
    width: 100%;
    z-index: 2;
  /**  padding: 100px 15px;**/
}
#offerssecond::after{
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    height: 1013px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}
#offerssecond .container {
    max-width: 1170px;
    margin: auto;
}
.offerssecond .slider {
    border: 1px solid #333;
    background-size: cover;
    max-width: 600px;
    max-height: 520px;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
}
.offerssecond .slider .slide {
    display: none;
}
.offerssecond .slider .slide.active {
    display: block;
    animation: slide 1s ease;
}
@keyframes slide {
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.offerssecond .slider p {
    font-size: 36px;
    color: white;
    word-spacing: 2px;
    margin: 5px;
}
.offerssecond .slider .slide-info h3 {
    font-weight: bold;
    color: white;
    font-size: 48px;
}

.offerssecond .slider .slide-info span {
    display: block;
    font-size: 16px;
    color: red;
}
.offerssecond .slider-indicator {
    text-align: center;
    padding-top: 20px;
}
.offerssecond .slider-indicator img{
    max-height: 180px;
    max-width: 140px;
    border-radius: 8px;
    display: inline-block;
    opacity: 0.3;
    border: 1px solid #000;
    cursor: pointer;
    transition: opacity 1s ease;
}
.offerssecond .slider-indicator img.active{
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .offerssecond .slider-indicator img {
        max-height: 220px;
        max-width: 180px;
    }
}
@media screen and (max-width: 767px) {
    .offerssecond .slider-indicator img {
        max-height: 140px;
        max-width: 100px;
    }
    .offerssecond .slider .slide-info h3 {
        font-size: 3rem;
    }
    .offerssecond .slider p {
        font-size: 1.2rem;
    }
    .offerssecond .slider .slide-info span {
        font-size: 16px;
    }
}